.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  padding: 3rem 0;
}

.dash-head {
  font-size: 2rem;
  font-weight: 700;
}

.dash-logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #63d8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.dash-text {
  font-size: 1rem;
  font-weight: 600;
}
