.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #b3dfff;
  color: #02161e;
}

.logo {
  font-size: 1.8rem;
  font-weight: 800;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  overflow: hidden;
}

.header-search {
  padding: 10px;
  border: none;
  width: 30vw;
  font-size: 1rem;
  font-weight: 600;
  cursor: text;
  outline: none;
}

.header-btn {
  padding: 10px;
  border: none;
  background-color: #f44336;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.sidebar {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.header-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
}

.header-name {
  font-size: 1rem;
  font-weight: 700;
}

.logout-btn {
  padding: 0.3rem;
  border: 0;
  background: #f44336;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
