.TableRow {
    background-color: #f2f2f2;
  }
  
  .DateSelect {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .FilterInput {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  .DeleteButton{
    position: absolute;
    height: 41px;
    width: 139px;
    left: 1245px;
    top: 147px;
    border-radius: 10px;

  }
  .ImportButton{
    position: absolute;
    height: 41px;
    width: 141px;
    left: 1394px;
    top: 146px;
    border-radius: 10px;


  }
  .ExportButton{
    position: absolute;
    height: 41px;
width: 139px;
left: 1545px;
top: 146px;
border-radius: 10px;

  }

  .DeleteButton:hover,
  .ImportButton:hover,
  .ExportButton:hover {
    background-color: #3e8e41;
  }