/*
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(193, 93%, 61%);
    padding: 10px;
  }
  
  .logo {
    height: 50px;
  }
  
  .title {
    margin: 0;
  }
  
  .search-bar {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .search-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0062cc;
  }
  */

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #65dcfa;
    color: #02161e;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  input[type='text'] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 200px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    border: none;
    background-color: #f44336;
    color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    cursor: pointer;
  }
  
  .sidebar {
    width: 200px;
  }
.Logo{
    position: absolute;
    height: 44px;
    width: 44px;
    left: 1568px;
    top: 27px;
    border-radius: 0px;
    }