.table-container {
    overflow-x: auto;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;


  }
  
  .table th {
    text-align: left;
    padding: 12px;
    background-color: #c6eff9;
    font-weight: bold;
    border: 1px solid #ddd;
  }
  
  .table td {
    text-align: left;
    padding: 12px;
    border: 1px solid #ddd;
  }
  .TableData{
    text-align: left;
    padding: 12px;
    background-color: #c6eff9;
    font-weight: bold;
    border: 1px solid #ddd;

  }
  #delete{
    height: 7.5px;
    width: 1.25px;
    left: 12.5px;
    top: 7.5px;
    border-radius: 0px;
        
  }
  
  
  .table td img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  